body {
	background-color: #222222;
}

.row {
	text-align: left;
}

h1, h2, h3 {

	color: #eeeeee;
}

ul, ol, p {
	color: #dddddd;
}

.numberToGet {

}

.colorBlue {
	color: blue;
}

.colorGreen {
color: green;
}

.colorRed {
color: red;
}

.colorPurple {
color: purple;
}


.crystals {
	text-align: center;
	height: 4em;
}

span#finalTotal {
	padding: 0;
	margin: 0;
	font-size: 10em;

}
